* {
	box-sizing: border-box;
}

html, body, #app {
	height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	background-color: #eee;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-weight: 400;
	color: #3b414c;
	font-size: 22px;
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 2px solid rgba(120,120,120, 0.4);
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE / Edge */
	user-select: none; /* Chrome / Opera */
}

.app {
	white-space: nowrap;
	height: 100vh;
}

.list {
	position: relative;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	height: 100%;
	width: 33%;
	padding: 0 20px;
	overflow: auto;
}

.list:not(:last-child):after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 99%;
	background: linear-gradient(to bottom, #eee 0%, #ccc 50%, #eee 100%) fixed;
}

.card {
	position: relative;
	z-index: 1;
	background-color: #fff;
	width: 100%;
	padding: 10px 10px 10px 15px;
	margin: 0 0 10px 0;
	overflow: auto;
	border: 1px solid #e5e5df;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0,0,0, 0.25);
}

.card__title {
	width: 100%;
	padding: 5px 0px;
	font-weight: bold;
}

.card__title:hover {
	background-color: rgba(180, 180, 180, 0.1);
}

.card__title:before {
	display: inline-block;
	width: 1em;
	content: '\25B6';
}

.card__title--is-open:before {
	content: '\25BC';
}

.card__description--toggle-enter {
	max-height: 0px;
	overflow: hidden;
}

.card__description--toggle-enter.card__description--toggle-enter-active {
	max-height: 300px;
	overflow: hidden;
	transition: max-height .3s ease-in;
	-webkit-transition: max-height .3s ease-in;
	-moz-transition: max-height .3s ease-in;
	-o-transition: max-height .3s ease-in;
}

.card__description--toggle-leave {
	max-height: 300px;
	overflow: hidden;
}

.card__description--toggle-leave.card__description--toggle-leave-active {
	max-height: 0px;
	overflow: hidden;
	transition: max-height .3s ease-out;
	-webkit-transition: max-height .3s ease-out;
	-moz-transition: max-height .3s ease-out;
	-o-transition: max-height .3s ease-out;
}

.checklist__task:first-child {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dashed #ddd;
}

.checklist__task--remove:after {
	display: inline-block;
	padding-left: 3px;
	color: #d66;
	content: '\00D7';
}

.checklist--add-task {
	border: 1px dashed #bbb;
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border-radius: 3px;
}
